@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    background-color: #1976d2;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    background-color: #fafafa;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    padding: 15px;
}
 h1{
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Roboto',sans-serif;
}
p{
    font-family: 'Open-Sans',sans-serif;
}
.container #editor{
    height: 500px;
}